- to run your commands press shift + enter  
- to create a new cell press esc + B ------> a cell below   
- to create a cell above press esc + A------> a cell above   
- to create a markdown press esc + m-----> create a markdown cell   
- to convert a mardown cell to code cell press-----> esc + y   
- to convert a markdown cell to heading press esc + 1/2/3/4/5------ > size of letter decreses when you give 1<2<3<4<5

In [1]:
a=5 
b=6
# print(a+b)
c= a+b

In [2]:
c

11

In [3]:
a=10
b=11

In [4]:
c= a+b

In [5]:
c

21

In [6]:
id(a), id(b), id(c)

(140720572938304, 140720572938336, 140720572938656)

In [7]:
id(b)

140720572938336

In [8]:
a= 5 ; b= 6
c= a+b
print(c)

11

In [9]:
a= 5;  b=6

In [10]:
c=a+b; print(c)

11

In [11]:
a=5
b=6
c= a+b
c

11

In [12]:
a=5

In [13]:
b=6

In [14]:
c=a+b

In [15]:
c

11

In [16]:
a*b

30

In [17]:
a/b

0.8333333333333334

In [18]:
a%b  ### remainder

5

In [19]:
a//b  ##### questient

0

### string operation or list operations

In [21]:
a= "Subhasmita"
b= 'Debananda'
c= '5'

In [22]:
a+b   #CONCAT THE TWO STRINGS

'SubhasmitaDebananda'

In [23]:
a+c+b  #CONCAT THE STINGS IN THE ORDER THEY ARE ADDED

'Subhasmita5Debananda'

a/b   ### stings cannot be divided

a*b    ### strings are not multiplicable

a-b    ### we cannot subtract

# conclusion:
- Arithematic operation can only be performed in mumbers 
- In strings if we add two OR MORE strings. The strings will be concatenated

### LIST, TUPLES, DICTIONARY

- list: mutable ---------> [] 
- tuple: immutable --------> ()  
- dictionary: key: value operation--------> {}

##### LIST

In [64]:
#index no.- 0,      1,      2,       3       4, 5, 6, 7, 8
#index no. -9,    -8       -7       -6     -5  -4 -3 -2 -1
my_list = ['abhi', 'Debu', 'Rohan', 'Jatin', 5, 6, 7 , 8, 9]

In [28]:
### how to call a element in a list

In [51]:
my_list[0]   # first element

'abhi'

In [52]:
my_list[1]    # second element

'Debu'

In [54]:
my_list[0:4]   ## it wont execute the last index number   ## [start index, last index +1]

['abhi', 'Debu', 'subhasmita', 'Jatin']

In [66]:
my_list[8]   ###

9

In [67]:
my_list[-1]

9

In [68]:
my_list[3:]  # here end is not specified so it will take all elements

['Jatin', 5, 6, 7, 8, 9]

In [69]:
my_list1= ["abhi", "Jhunu", "Babu", "Jatin", [1,2,3,4,5,[9,8,7,6]]]

In [70]:
my_list1[2]

'Babu'

In [71]:
my_list1[4][3]

4

In [72]:
my_list1[4][5][3]

6

In [73]:
### how we will add elements to a list

In [74]:
my_list

['abhi', 'Debu', 'Rohan', 'Jatin', 5, 6, 7, 8, 9]

- insert
- remove
- pop
- count
- append
- index
- reverse
- sort

***insert***

In [75]:
# i want to add a name (Subhasmita) to the list
# how to do that??

In [76]:
my_list.insert(2,"subhasmita")    # shift + tab + tab

In [77]:
my_list

['abhi', 'Debu', 'subhasmita', 'Rohan', 'Jatin', 5, 6, 7, 8, 9]

In [79]:
my_list.insert()

***remove***

In [80]:
my_list

['abhi', 'Debu', 'subhasmita', 'Rohan', 'Jatin', 5, 6, 7, 8, 9]

In [81]:
my_list.remove('Rohan')

In [82]:
my_list

['abhi', 'Debu', 'subhasmita', 'Jatin', 5, 6, 7, 8, 9]

***pop***

In [83]:
my_list.pop(-2)   #only the - index that is the right to left index calling works

8

In [84]:
my_list

['abhi', 'Debu', 'subhasmita', 'Jatin', 5, 6, 7, 9]

In [85]:
example1= [1,2,3,4,5,6,7,8,20,10,11,12,13]

In [86]:
example1[2:9]

[3, 4, 5, 6, 7, 8, 20]

***count***

In [87]:
example2= [1,2,3,4,5,6,8,4,5,8,7,4,9,8,7,3,2,7,8,20,10,11,12,13]

In [91]:
example2.count(20)   # it gives the no.of occurances of the value or we can say it gives the frequency of the value

1

***append***

In [4]:
example3= ['abhi', 'Debu', 'subhasmita', 'Rohan', 'Jatin', 5, 6, 7, 8, 9]
example4= [1,2,3,4,5,6,7,8,20,10,11,12,13]

In [2]:
example3.append(example4)

In [3]:
example3  ### no.of times the command is run that many times the elements are appended or added to the last

['abhi',
 'Debu',
 'subhasmita',
 'Rohan',
 'Jatin',
 5,
 6,
 7,
 8,
 9,
 [1, 2, 3, 4, 5, 6, 7, 8, 20, 10, 11, 12, 13]]

In [5]:
example3.append(5.6)

In [6]:
example3

['abhi', 'Debu', 'subhasmita', 'Rohan', 'Jatin', 5, 6, 7, 8, 9, 5.6]

In [11]:
example3

['abhi', 'Debu', 'subhasmita', 'Rohan', 'Jatin', 5, 6, 7, 8, 9, 5.6]

***index***

In [17]:
example3.index('subhasmita') ## to know the index value of the element

2

In [16]:
example3[2]

'subhasmita'

***reverse***

In [18]:
example3.reverse()

In [20]:
example3

[5.6, 9, 8, 7, 6, 5, 'Jatin', 'Rohan', 'subhasmita', 'Debu', 'abhi']

***sort***

In [38]:
example5= ['Debu', 'subhasmita', 'Rohan', 'Jatin']   #homogineous list

In [41]:
example5.sort(reverse=True) ## ascending by default  ## reverse= True=> descending order

In [39]:
example5.sort()  ##ascending

In [40]:
example5

['Debu', 'Jatin', 'Rohan', 'subhasmita']

In [42]:
example5

['subhasmita', 'Rohan', 'Jatin', 'Debu']

***------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------***

### Tupple

In [43]:
tupple1= (1,2,3,4,5,6,7,8)

In [44]:
tupple1[0]

1

- count
- index

In [45]:
tupple1.count(2)

1

In [46]:
tupple1.index(5)

4

***------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------***

### Dictionary

In [48]:
dict1= {'Debananda': 'Trainer', 'Subhasmita': 'Student'}

In [49]:
dict1

{'Debananda': 'Trainer', 'Subhasmita': 'Student'}

In [51]:
dict1.keys()

dict_keys(['Debananda', 'Subhasmita'])

In [52]:
dict1.values()

dict_values(['Trainer', 'Student'])

In [ ]:
dict1.

- clear
- copy
- fromkey
- get
- items
- keys
- pop
- popitem
- setdefault
- update
- values

In [53]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

***calling items***

In [54]:
x = thisdict["model"]
x

'Mustang'

***Change Values***

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

***Check if Key Exists***

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [57]:
print(len(thisdict))

3

***Adding Items***

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

***Removing Items***

In [59]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

***del***

In [61]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

***clear***

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

***Copy a Dictionary***

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

***Nested Dictionaries***

***Create a dictionary that contain three dictionaries:***

In [8]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [9]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

***if you want to nest three dictionaries that already exists as dictionaries:***

In [10]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [11]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

***The dict() Constructor***

In [67]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}